.containerInputs {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.forgetPassword {
    font-size: 1rem;
    color: var(--primary-color);
    text-decoration-line: underline;
    align-self: flex-end;
}