.input {
    width: 100%;
    height: 2.8rem;

    font-size: 1.2rem;

    background-color: var(--background-color);
    border: 1.5px solid var(--primary-color);
    border-radius: 10px;

    padding-left: 1rem;
    margin-top: 0.8rem;

    position: relative;
}

.input:focus {
   outline: 1px solid var(--primary-color);
}