.button {
  width: 100%;

  font-size: 1.5rem;
  font-weight: 500;
  color: var(--white);

  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.primary {
  background-color: var(--primary-color);
}

.secondary {
  background-color: var(--secondary-color);
}

.medium {
  padding: 0.5rem;
}

.large {
  height: 4.7rem;
}
