.dashboard {
    height: 70vh;
    width: 100%;

    display: grid;
    grid-template-columns: auto auto auto auto;  
    gap: 2.5rem;  

    align-content: start;

    background-color: var(--background-color);
    border-radius: 20px;
    padding: 4rem 5rem;
}

