.containerCreate {
    height: 70vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    background-color: var(--background-color);
    border-radius: 20px;
    padding: 2rem 3rem;
}

label {
    font-size: 1.3rem;
    letter-spacing: 3%;
    opacity: 0.8;
}

textarea {
    height: 5rem;
    width: 100%;

    font-family: 'Poppins';
    font-size: 1rem;

    background-color: var(--background-color);
    border: 1.5px solid var(--primary-color);
    border-radius: 10px;

    padding: 0.8rem 1rem;
    resize: none;

    margin-top: 0.8rem;
}

textarea:focus {
    outline: 1px solid var(--primary-color);
}

input[type="file"] {
    padding: 0.5rem;
}

input[type="file"]::file-selector-button {
    width: 20%;
    height: 100%;
    border: none;

    background-color: var(--primary-color);
    color: var(--white);

    border-radius: 10px;
    position: absolute;
    top: 0;
    right: -8px;

    cursor: pointer;
}

.containerButton {
    width: 25%;
    display: flex;
    gap: 1rem;
    align-self: flex-end;
}
