.container {
    width: 100%;
    height: 8rem;

    background-color: var(--background-color);

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-radius: 20px;
}

.image {
    height: 5rem;
    cursor: pointer;
}

.containerInput {
    width: 60%;

    display: flex;
    align-items: center;

    position: relative;
}

.input {
    width: 100%;
    height: 3rem;

    background-color: var(--background-color);

    font-size: 1.5rem;
    color: var(--primary-color);

    padding-left: 2rem;

    border: 1.5px solid var(--primary-color);
    border-radius: 10px;
}

.input:focus {
    outline: 1px solid var(--primary-color);
}

.icon {
    position: absolute;
    right: 20px;
}

.button {
    width: 10rem;
    height: 3rem;

    font-size: 1.5rem;
    font-weight: 500;
    
    color: var(--white);
    background-color: var(--primary-color);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    opacity: 0.7;
    transition: 0.1s ease-out;
}
