:root {
  --primary-color:#003333;
  --background-color: #D9D9D9;
  --button-text-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--primary-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}
